/* Submission inbox (TODO this should be covered by the rule below...)*/
.ItakuEnhanced--stickyHeaders app-submission-inbox > .compact-container > div {
    position: sticky;
    top: 4em;
    z-index: 100;
    background: var(--page-background);
}

/* Normal feeds and user profile */
.ItakuEnhanced--stickyHeaders nav.mat-tab-nav-bar {
    background: var(--page-background);
    position: sticky;
    top: 4em;
    z-index: 101;
}

.ItakuEnhanced--stickyHeaders app-filter {
    background: var(--page-background);
    display: block;
    position: sticky;
    top: calc(7em + 1px);
    margin-top: -8px;
    padding-top: 8px;
    z-index: 100;
}


/* Fix for colors being off for embedded filters within profile feeds */
.ItakuEnhanced--stickyHeaders app-feed app-filter {
    background: unset;
}


/* Fix for user profile folder/image gallery views with folders. */
@media only screen and (min-width: 1800px) {
  .ItakuEnhanced--stickyHeaders app-profile .content.container,
  .ItakuEnhanced--stickyHeaders app-profile .gallery-content.container {
    /* Folders are fixed-width 320: formula for centering is 50% = (50% - 320)/2 + 320 - y */
    left: -160px;
    position: relative;
  }
}

.ItakuEnhanced--stickyHeaders app-profile mat-card.folders-card,
.ItakuEnhanced--stickyHeaders app-profile .sections-card-wrapper-gt-sm {
  position: sticky;
  top: 8em;
}
