/* TODO: this is built around the modal overlay, and I'm not sure if it will be generalizable to*/
/* the regular view. */
.ItakuEnhanced--fullScreenPreviews app-image-dialog {
  top: calc(64px + 8px);
  left: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.ItakuEnhanced--fullScreenPreviews app-image-dialog mat-dialog-content {
  max-height: 100vh !important;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail,
.ItakuEnhanced--fullScreenPreviews app-image-detail .container {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card {
  height: calc(100vh - 64px - 16px); /* hardcoded height of the header */
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card .img-wrapper,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card .img-wrapper .mat-card-image {
  max-height: 100%;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card .img-wrapper .mat-card-image {
  object-fit: contain;
  max-height: 100%;
}

/* TODO this is pretty fragile */
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer) {
  position: absolute;
  height: 10em;
  padding-left: 2em;
  background: inherit;
  padding-right: 3em;
  height: 5em;
  top: 0;
  width: 8em;
  overflow-y: hidden;
}


.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):hover,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus-within {
  width: 50em;
  visibility: visible;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 2em;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card .next-img-btn[_ngcontent-serverApp-c192] {
  z-index: 100;
}

/* Make sure header is visible even when you scroll down. */
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card mat-card-header {
  position: fixed;
}

/* But still scroll when hovered */
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):hover mat-card-header,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus mat-card-header,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus-within mat-card-header {
  position: relative;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):hover mat-card-header,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus mat-card-header,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus-within mat-card-header {
  visibility: visible;
  background: inherit;
}

/* Hide the background until we hover. */
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child {
  visibility: hidden;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:hover,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:focus,
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:focus-within {
  visibility: visible;
}

/* Make the icon visible again */
.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card mat-card-header img.mat-card-avatar {
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;
  visibility: visible;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card mat-card-header .mat-card-header-text {
  text-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;
  visibility: visible;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):hover .mat-card-avatar {
  visibility: visible;
  display: block;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus,
.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card-content > :last-child:not(.mat-card-footer):focus {
  height: 100%;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):hover,
.ItaukEnhanced--fullScreenPreviews app-image-detail .mat-card-content > :last-child:not(.mat-card-footer):hover {
  overflow-y: scroll;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card > :last-child:not(.mat-card-footer):focus-within .info-wrapper-gt-xs,
.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card-content > :last-child:not(.mat-card-footer):focus-within .info-wrapper-gt-xs {
  visibility: visible;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail mat-card .mat-dialog-content > app-image-detail:nth-child(1) > div:nth-child(1) {
  overflow: visible;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card > :last-child:not(.mat-card-footer):hover,
.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card-content > :last-child:not(.mat-card-footer):hover {
  width: 50em;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card > :last-child:not(.mat-card-footer) .info-wrapper-gt-xs,
.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card-content > :last-child:not(.mat-card-footer) .info-wrapper-gt-xs {
  visibility: hidden;
}

.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card > :last-child:not(.mat-card-footer):hover .info-wrapper-gt-xs,
.ItakuEnhanced--fullScreenPreviews app-image-detail .mat-card-content > :last-child:not(.mat-card-footer):hover .info-wrapper-gt-xs {
  visibility: visible;
}

/* ------ NEEDS TO BE TAKEN CARE OF ------- */

.card[_ngcontent-serverApp-c192] {
  /* overflow: hidden; */
  overflow: visible;
}

.change-img-btn[_ngcontent-serverApp-c192] {
  height: 100%;
}
